.product {
  background: #fff;
  margin-top: 30px;
}
.product-top-text {
  padding: 20px;
  text-align: center;
  color: red;
  font-weight: bold;
  span {
    background: red!important;
    margin-bottom: 8px;
  }
}
